@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}
#root {
  width: 100vw;
  height: 67vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #C3E5F0;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
header {
  width: 40%;
  height: 17%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header h1 {
  padding-left: 20px;
  font-size: 3.5rem;
  color: #135869;
}
.joke {
  width: 100%;
  position: relative;
  display: flex;
}
.joke img {
  position: absolute;
  width: 40px;
  object-fit: contain;
  top: 20px;
  left: 57%;
}
.joke p {
  position: absolute;
  width: 35%;
  top: 20px;
  left: 61%;
  font-size: 1.4rem;
  color: #220100;
}
section {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
section select {
  background-color: #135869;
  color: whitesmoke;
  width: 300px;
  padding: 5px;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
section button {
  width: 300px;
  height: 150px;
  margin-top: 10px;
  padding: 5px;
  background-color: #31302A;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 3rem;
  font-weight: bold;
  color: whitesmoke;
  cursor: pointer;
}

.move {
  height: 300px;
  transition: all 1s;
  transform: 
  translate(0vmin,-10vmin);
  z-index: 5;
  animation: moving 1s linear infinite;
 
}

.move :hover {
  transform: 
  translate(0vmin,-50vmin);
  transition-timing-function: ease-in-out;
  transition: all 5s;

}
footer {
  width: 100%; 
  background-color: #C3E5F0;
  display: flex;
  justify-content: right;

}



  @keyframes moving {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }